<ons-page>
<table>

//The fancy table code.
<table>
  <tr>
    <th>Company</th>
    <th>Name</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Monaca</td>
    <td>Onsen</td>
    <td>Kekistan</td>
  </tr>
</table>

</ons-page>